.container {
    max-width: 1367px;
    padding: 0 15px;
    height: 100vh;
    margin: auto;
}

@media (max-width: 1400px) {
    .container {
        max-width: 1170px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }
}

@media (max-width: 1000px) {
    .container {
        max-width:  768px;
    }
}

.example {
    border: 1px solid black;
    display: grid;
    grid-gap: 30px;
    padding: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
}

.call {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}