.Header {
  height: 100%;
  padding: 0;
}
.HeaderNavigation {
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.HeaderNavigation__link {
  width: 150px;
  margin: 10px auto;
}
