$print: url("./../../assets/image/print-icon-empty.png");
$radioButton: url("./../../assets/image/radiobutton-selected.png");

.kitten{
	width: 30%;
}

.button-buy {
	width: 40%;
}

.button {
	margin-top: 300px;
	width: 220px;
	height: 50px;
	background-color: #572F8C;
	border: none;
	border-radius: 7px;
}

.item-list {
	width: 305px;
	height: 320px;

	margin-top: auto;
}

.grandorf-image{
	display: flex;
	justify-content: center;
	border-radius: 7px 7px 0px 0px;
	background-color: #fff;
}

.description {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 305px;
	height: 120px;
	background-color: #4C2481;
	border-radius: 0px 0px 7px 7px;

}

.range {
	width: 50%;
	color: #fff;
	font-size: 15px;
	margin-top: 62px;
	margin-left: 25px;
}

.buy {
	width: 50%;
	margin-top: 62px;
}

.buy button {
	width: 110px;
	height: 35px;
	border: none;
	background: #68D6F4;
	border-radius: 5px;
}

.container {
	margin-top: 70px;
}

.product-item {
	padding: 20px;
	box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.03), 0px 2px 4px rgba(0, 0, 0, 0.06);
	border-radius: 7px;
	margin-right: 16px;
	margin-top: 16px;
	height: 380px;
	background-color: #fff;
	position: relative;
}

.product-item:last-child{
	margin-right: 0;
}

.product-item:hover {
	box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.1), 0px 3px 8px rgba(0, 0, 0, 0.07);
}

.card-rating {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
}

.card-text {
	margin-bottom: auto;
	color: #2B2D36;
}

.weight-product{
	margin: 0;
}

input[type="radio"] {
	display:none;
}

input[type="radio"] + label span {
	display:inline-block;
	width:19px;
	height:19px;
	vertical-align:middle;
	background:$print left top no-repeat;
	cursor:pointer;
}

input[type="radio"]:checked + label span {
	background:$radioButton left top no-repeat;
}

input[type="radio"]:checked + label {
	color: red;
}

.price {
	margin-left: 0;
	bottom: 0;
}

.btn{
	width: 110px;
	height: 35px;
	background-color: #68D6F4;
	border-radius: 7px;
}