doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        a(href="#") Link1
        a(href="#") Link2
        a(href="#") Link3
      block content
